{{#if parent}}
    {{#with parent}}{{> breadcrumb}}{{/with}}
    <li>
        {{#if url}}
            <a href="{{relativeURL url}}">{{formatDisplayName name}}</a>
        {{else}}
            <span>{{formatDisplayName name}}</span>
        {{/if}}
    </li>
{{else}}
    {{#if url}}
        <li>
            <a href="{{relativeURL url}}">Globals</a>
        </li>
    {{/if}}
{{/if}}